@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --black:#333;
    --ligth-color:#cdaa7c;
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
}

*
{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    transition: all .2s linear;
}

html
{
    background-color: black;
font-size: 62.5%;
overflow-x: hidden;
scroll-behavior: smooth;
}

/* estilo de la barra de navegacion EMPIEZA */

header
{
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: black;
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--box-shadow);
    z-index: 100;
}

header .logo img
{
    height: auto;
}

header .navbar a
{
    font-size: 2rem;
    padding: .5rem 3rem;
    color: var(--ligth-color);
    border: .1rem solid transparent;
}

header .navbar a.activo,
header .navbar a:hover
{
    color: #fff;
    border: .1rem solid #cdaa7c;
}

header .iconos i
{
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    background: var(--ligth-color);
    text-align: center;
    font-size: 1.7rem;
    
}

header .iconos i:hover
{
    color: #fff;
    background: var(--ligth-color);
    transform: rotate(360deg);
}

header .iconos #menu
{
    display: none;
}
/* estilo de la barra de navegacion TERMINA */

/*Empieza estilo FORMULARIO*/
.form_cont
{
    position: absolute;
    max-width: 320px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2);
    z-index: 101;
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease-out;
}
.formularios.show .form_cont
{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}
.registro_form
{
    display: none;
}
.form_cont.active .registro_form
{
    display: block;
}
.form_cont.active .inicio_form
{
    display: none;
}
.form_cerrar
{
    position: absolute;
    top: 10px;
    right: 20px;
    color: black;
    font-size: 22px;
    opacity: 0.7;
    cursor: pointer;
}
.form_cont h2
{
    font-size: 22px;
    color: #0b0217;
    text-align: center;
}
.input_box
{
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: 40px;
}
.input_box input
{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    padding: 0 30px;
    color: #333;
    border-bottom: 1.5px solid #aaaaaa;
}
.input_box i
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.input_box i.email,
.input_box i.password,
.input_box i.nombre,
.input_box i.direccion,
.input_box i.telefono
{
    left: 0;
    color: black
}
.btn-inicio-sesion
{
    cursor: pointer;
    background: #cdaa7c;
    font-weight: bold;
    margin-top: 30px;
    width: 100%;
    padding: 10px 0;
    border-radius: 10px;
}
.btn-inicio-sesion:hover
{
    background: black;
    color: #cdaa7c;
    box-shadow: 0 0 5px black,
                0 0 25px black,
                0 0 50px black,
                0 0 200px black;

}


.inicio_registro
{
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
}
/*Termina estilo FORMULARIO*/


/*Estilo sliders EMPIEZA*/

.home .home-slider .slide
{
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: flex-start;
}

.home .home-slider .slide1
{
    background: url(imagenes/slide1.jpg);
}
.home .home-slider .slide2
{
    background: url(imagenes/slide2.jpg);
}
.home .home-slider .slide3
{
    background: url(imagenes/slide3.jpg);
}

.home .home-slider .slide1,
.home .home-slider .slide2,
.home .home-slider .slide3
{
    background-size: cover;
    background-repeat: no-repeat;
}

.home .home-slider .slide .content
{
    text-align: center;
    padding-left: 9rem;
}

.home .home-slider .slide .content h3
{
    color: var(--ligth-color);
    font-size: 3rem;
    font-weight: 300;
}

.home .home-slider .slide .content h1
{
    color: #fff;
    font-size: 8rem;
}

.home .home-slider .slide .content p
{
    color: #e6e7e7;
    font-size: 1.8rem;
    letter-spacing: 1px;
    padding: .5rem 0;
    line-height: 1.5;
    font-weight: 200;
}

.btn
{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: #fff;
    border: .1rem solid rgba(205, 170, 124, 0.2);
    background: transparent;
    cursor: pointer;
    padding: .8rem 3rem;
    position: relative;
    overflow: hidden;
    z-index: 1;
}





/*ESTO ES PARA QUE EL BOTON SE ILUMINE CUANDO HAGA EL HOVER*/
.btn:hover
{
    background: #cdaa7c;
    color: #050801;
    box-shadow: 0 0 5px #cdaa7c,
                0 0 25px #cdaa7c,
                0 0 50px #cdaa7c,
                0 0 200px #cdaa7c;
}

.btn:before
{
    content: '';
    width: 100%;
    height: 100%;
    background: var(--ligth-color);
    z-index: -1;
    position: absolute;
    top: 0;
    left: -100%;
    transition: .5s;
}

.btn:hover.btn:before
{
    left: 0;
}

.swiper-pagination-bullet
{
    background: var(--ligth-color)!important;
    width: 15px!important;
    height: 15px!important;
    border-radius: 0!important;
}
/*Estilo sliders TERMINA*/

/*EMPIEZA estilo reservas*/

.titulo
    {
        text-align: center;
        font-size: 4.5rem;
        padding-bottom: 2rem;
        text-transform: uppercase;
        letter-spacing: 1.3px;
    }

.sub-titulo
{
    text-align: center;
    color: #cdaa7c;
    font-size: 2.5rem;
    padding: .5rem 2rem;
    font-weight: 300;
    margin-bottom: 4rem;
    background: var(--black);
    display: inline-block;
}

.reserva
{
    margin-top: 5%;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.reserva .imagen
{
    width: 55%;
    background: url(foto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 9rem;
}

.reserva .form
{
    background: #181818;
    width: 45%;
    padding: 9rem 7%;
}

.reserva .form h1
{
    color: #fff;
}

.reserva .form-contenido
{
    display: flex;
    grid-gap: 3rem;
    width: 100%;
}

.reserva .form form input,
.reserva .form form select
{
    display: block;
    margin: 2rem 0;
    width: 100%;
    background: none;
    border-bottom: .1rem solid white;
    color: #cdaa7c;
    font-size: 1.8rem;
    font-weight: 300;
}


/*TERMINA estilo reservas*/


/*EMPIEZA estilo pie de pagina*/
.footer
{
    border-top: 1px solid #cdaa7c;
    background: black;
    color: #cdaa7c;
    text-align: center;
    font-size: 1.3rem;
    margin-top: auto;
    display: table;
    width: 100%;
    height: 13vh;
}

.footer .container
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 2fr));
    color: #cdaa7c;
    grid-gap: 1rem;
    padding: 4rem 0;
    border-bottom: 1px solid #cdaa7c;
}

.footer .container div{
    padding: 0 7rem;
}

.footer .container h3
{
    color: #cdaa7c;
    font-size: 1.5rem;
    padding-bottom: .8rem;
}

.footer .container input
{
    width: 100%;
    border: 1px solid #cdaa7c;
    padding: .5rem .8rem;
    background: transparent;
    border-radius: 20px;
}

.footer .container ul
{
    list-style: none;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.footer .container ul li a
{
    color: #cdaa7c;
    margin-left: 10px;
    font-size: 18px;
}

.footer .container span
{
    display: block;
}
/*TERMINA estilo pie de pagina*/

/*EMPIEZA ESTILO MENU*/

.menu
{
    min-height: 100vh;
    background-color: black;
}
.banner
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    margin-top: -100px;
    margin-bottom: -100px;
}
.banner h2
{
    color: #cdaa7c;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 35px;
    border: 1px solid #cdaa7c;
    padding: 20px;
    font-weight: 800;
}
.banner h3
{
    color: #fff;
    padding: 20px;
    font-weight: 500;
    font-size: 25px;
}
.producto
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    min-height: 60vh;
    padding: 50px;
    border: 1px solid #cdaa7c;

}
.producto .producto-box
{
    height: 270px;
    width: 160px;
    margin: 30px;
    background: rgba(0, 0, 0, 0.6);

    border: 2px solid #cdaa7c;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.producto .producto-box img
{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #cdaa7c;
}
.producto .producto-box h2
{
    color: #cdaa7c;
    font-size: 15px;
    font-weight: 400;
    padding: 10px;
}
.producto .producto-box h3
{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    padding: 5px;
}
.producto .producto-box .añadir-carrito
{
    padding: 5px 10px;
    margin: 10px;
    border: 1px solid #cdaa7c;
    background-color: transparent;
    color: #cdaa7c;
    font-size: 8px;
    text-transform: uppercase;
    font-weight: 400;
    transition: 0.3s ease-in;
    cursor: pointer;
}
.producto .producto-box .añadir-carrito:hover
{
    background: #cdaa7c;
    color: #050801;
    box-shadow: 0 0 5px #cdaa7c,
                0 0 25px #cdaa7c,
                0 0 50px #cdaa7c,
                0 0 200px #cdaa7c;
}

/*TERMINA ESTILO MENU*/

/*ESTILO BARRA DE SCROLL*/

::-webkit-scrollbar
{
    width: 12px;
}

::-webkit-scrollbar-track
{
    background: black;
}

::-webkit-scrollbar-thumb
{
    background: #cdaa7c;
}

/*ESTILO BOTON ARRIBA*/
.topbtn
{
    position: fixed;
    right: 2%;
    bottom: 10%;
    width: 30px;
    height: 30px;
    background: #cdaa7c;
    color: black;
    cursor: pointer;
}
.topbtn:hover
{
    box-shadow: 0 0 5px #cdaa7c,
                0 0 25px #cdaa7c,
                0 0 50px #cdaa7c,
                0 0 200px #cdaa7c;
}

/*MEDIA*/

@media (min-width: 1024px)
{
    html
    {
        font-size: 55%;
    }
    header
    {
        padding: 1rem 2rem;
    }
    header .logo img
    {
        height: 7rem;
    }
}

@media (max-width: 936px)
{
    header .logo img
    {
        height: 7rem;
    }
    header .iconos #menu
    {
        display: inline-block;
    }
    header .navbar
    {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #eee;
        border-top: .1rem solid rgba(205, 170, 124, 0.2);
        border-bottom: .1rem solid rgba(205, 170, 124, 0.2);
        padding: 1rem;
        clip-path: polygon(0 0,100% 0, 100% 0, 0 0);
    }
    header .navbar.activo
    {
        clip-path: polygon(0 0,100% 0, 100% 100%, 0 100%);
    }
    header .navbar a
    {
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background: var(--black);
    }

    /*Slider Media*/

    .home .home-slider .slide
    {
        justify-content: center;
        height: 80vh;
    }

    .home .home-slider .slide .content
    {
        padding: 0;
    }

    .home .home-slider .slide .content h1
    {
        font-size: 7rem;
    }

    /*Reservas*/

    
    .reserva .imagen
    {
        width: 0;
    }

    .reserva .form
    {
        width: 100%;
    }

    .reserva .form .form-contenido
    {
        display: block;
    }

    /*MENU*/

    .contenedor {
        flex-direction: column;
        align-items: center;
    }


    #carro
    {
        width: 90%;

    }
}


/*ESTILO MENU ALTERNATIVO*/

.contenedor
{
    
    max-width: 1200px;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /*oculto lo que queda fuera del contenedor*/
    contain: paint;
}

.contenedor .contenedor-items
{
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 30px;
    grid-row-gap: 30px;
    width: 60%;
    transition: .3s;
}

.contenedor .contenedor-items .item
{
    background-color: #cdaa7c;
    max-width: 200px;
    margin: auto;
    border: 1px solid #cdaa7c;
    border-radius: 10px;
    padding: 20px;
    transition: .3s;
}

.contenedor-items .item:hover
{
    box-shadow: 0 0 10px #cdaa7c;
    scale: 1.05;
}

.contenedor-items .item .img-item
{
    width: 100%;
}

.contenedor-items .item .titulo-item
{
    color: black;
    font-size: 18px;
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.contenedor-items .item .precio-item
{
    color: black;
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

.contenedor-items .item .boton-item
{
    display: block;
    margin: 10px auto;
    border: none;
    background: black;
    color: #cdaa7c;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.contenedor-items .item .boton-item:hover
{
    scale: 1.25;
}

/*ESTILO CARRITO*/

.carrito
{
    z-index: 101;
    border: 1px solid #aaaaaa;
    width: 35%;
    right: 0;
    margin-top: 10%;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: auto;
    position: fixed !important;
    top: 0;
    transition: .3s;
    text-transform: uppercase;
}

.carrito .header-carrito
{
    font-size: 14px;
    background-color: #aaaaaa;
    color: black;
    text-align: center;
    padding: 30px 0;
}

.carrito .carrito-item
{
    background-color: white;
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #666;
    padding: 20px;
}

.carrito .carrito-item img
{
    margin-right: 20px;
}

.carrito .carrito-item .carrito-item-titulo
{
    font-size: 12px;
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.carrito .carrito-item .selector-cantidad
{
    display: inline-block;
    margin-right: 25px;
}

.carrito .carrito-item .carrito-item-cantidad
{
    border: none;
    font-size: 18px;
    background: transparent;
    display: inline-block;
    width: 30px;
    padding: 5px;
    text-align: center;
}

.carrito .carrito-item .selector-cantidad i
{
    font-size: 18px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid black;
    cursor: pointer;
}

.carrito .carrito-item .carrito-item-precio
{
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5px;
}

.carrito .carrito-item .btn-eliminar
{
    font-size: 15px;
    position: absolute;
    right: 15px;
    top: 15px;
    color: black;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid black;
    cursor: pointer;
    display: block;
    background: transparent;
    z-index: 20;
}

.carrito .carrito-item .btn-eliminar i
{
    pointer-events: none;
}

.carrito-total
{
    background-color: #f3f3f3;
    padding: 30px;
}

.carrito-total .fila
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.carrito-total .btn-pagar
{
    display: block;
    width: 100%;
    border: none;
    background: black;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}

.carrito-total .btn-pagar:hover
{
    scale: 1.05;
}